<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs6400.carshop.mapper.TransactionMapper">
    <insert id="insertTransaction" parameterType="com.cs6400.carshop.bean.Transaction" >
        insert into Transaction (purchase_date, customer_id, sold_price, sales_person_user_name, VIN) values(now(), #{customer_id}, #{sold_price}, #{sales_person_user_name}, #{VIN})
    </insert>

</mapper>