<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer message</title>
</head>
<body>
<table class="display table table-bordered table-striped" id="dynamic-table">
    <thead>
    <tr>
        <th>customer_id</th>
        <th>phone_number</th>
        <th>email</th>
        <th>address</th>
        <th>driver_license</th>
        <th>first_name</th>
        <th>last_name</th>
    </tr>
    </thead>
    <tbody>
    <tr class="gradeX">
        <td th:text="${customer.customer_id}"></td>
        <td th:text="${customer.phone_number}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.driver_license}"></td>
        <td th:text="${customer.first_name}"></td>
        <td th:text="${customer.last_name}"></td>
    </tr>
    </tfoot>
</table>
<form action="/search" method="get">
    <input type="submit" value="return"/>
</form>
</body>
</html>