<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Vehicle message</title>

    <!--dynamic table-->
    <link th:href="@{/js/advanced-datatable/css/demo_page.css}" rel="stylesheet"/>
    <link th:href="@{/js/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/js/data-tables/DT_bootstrap.css}"/>

<!--    <div th:include="common :: commonheader"></div>-->
</head>

<body class="sticky-header">

<section>

<!--    <div th:replace="common :: #leftmenu"></div>-->
    <!-- main content start-->
    <div class="main-content">

<!--        <div th:replace="common :: headermenu"></div>-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Vehicle message
            </h3>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>VIN</th>
                                        <th>Vehicle type</th>
                                        <th>Model Year</th>
                                        <th>Manufacturer</th>
                                        <th>Model</th>
                                        <th>Color(s)</th>
                                        <th>List Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="gradeX" th:each="vehicle: ${vehicles}">
                                            <td>
                                                <a th:href="@{|/VehicleDetail/${vehicle.VIN}|}" th:text="${vehicle.VIN}"></a>
                                            </td>
                                            <td th:text="${vehicle.vehicle_name}"></td>
                                            <td th:text="${vehicle.model_year}"></td>
                                            <td th:text="${vehicle.manufacturer_name}"></td>
                                            <td th:text="${vehicle.model_name}"></td>
                                            <td th:text="${vehicle.color}"></td>
                                            <td th:text="${vehicle.invoice_price}"></td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="dataTables_info" id="dynamic-table_info">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <form action="/search" method="get">
            <input type="submit" value="return"/>
        </form>
        <!-- main content end-->
</section>


<div th:replace="common :: #commonscript"></div>
<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<!--<script src="js/dynamic_table_init.js"></script>-->


</body>
</html>
